<% define_template "typed_identifier", jsonmodel_definition(:typed_identifier) do |form| %>
  <div class="subrecord-form-fields">
    <div class="typed-identifier-control-container">
      <%= form.label_and_select "id_type",
        [""] + form.possible_options_for("id_type", false) %>

      <%= form.label_and_textfield "identifier",  {:field_opts => {:size => 30, :class => "form-control"} }%>
    <div>
  </div>
<% end %>